/* reset code and common code starts here */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f4f4f5;
    font-family: "Inter", sans-serif;
    padding-top: 50px;
}
/* reset code and common code ends here */


.container{
    margin: 0px auto;
    max-width: 550px;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}