{% extends 'base/main.html' %} 
{% load static %} 
{% block content %}

<section id="task-section">
  <div class="container ">


    <!-- filter -->
    <div class="row my-4 align-items-center">

        <div class="col-md-10">
            <form action="" method="get">
                <div class="row g-2">

                    <div class="col-md-2">
                        {{ myFilter.form.priority }}
                    </div>

                    <div class="offset-md-2 col-md-6">
                        {{ myFilter.form.description }}
                    </div>

                    <div class="col-md-1 search-btn">
                        <button type="submit" class="btn btn-primary w-100 form-control">
                             <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>

                </div>
            </form>
        </div>


        <!-- add task -->
        <div class="col-md-2 text-end">
            <a href="{% url 'create_task' %}" class="btn btn-success w-100">Add Task</a>
        </div>

    </div>

    

    <!-- all tasks -->
    {% include 'base/all_tasks.html' %}


    <!-- completed_tasks -->
    {% include 'base/completed_tasks.html' %}
  </div>
</section>
{% endblock %}
