{% load static %}
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- meta tag -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keyword" content="python, django, sqlite, html, css" />
    <meta name="author" content="Athika Chowdhury Priya" />
    <!-- title -->
    <title>{% block title %} {% endblock title %}</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- css -->
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% endblock css %}
  </head>
  <body>
    <div class="container">{% block content %} {% endblock content %}</div>
  </body>
</html>
